# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# Environment & Hive local caches
*.lock
*.hive
data_engine_hub_box.hive
data_engine_hub_box.lock

# IDE / OS
.idea/
*.iml
.vscode/
*.swp
.DS_Store
Thumbs.db
